In [1]:
import pandas as pd

In [18]:
def get_truth_set(truth_file):
    df = pd.read_csv(truth_file)
    truth_set = [frozenset({i,j}) for i,j in zip(df['Node1'],df['Node2'])]
    truth_set = set(truth_set)
    return(truth_set)

def get_library_set(lib_file):
    df = pd.read_csv(library_file)
    lib_set = [frozenset({i,j}) for i,j in zip(df['Node1'],df['Node2']) if 'N' not in i and 'N' not in j]
    #lib_set = [x for x in lib_set if 'N' not in list(x)]
    lib_set = set(lib_set)
    return(lib_set)

def label_exp(df, truth_set, lib_set, exp):
    df['label'] = ['oligo match' if frozenset({i,j}) in truth_set else 'library match' if frozenset({i,j}) in lib_set else 'off target' for i, j in zip(df['node1'],df['node2'])]
    df['exp'] = exp
    return(df)

In [59]:
f1 = '../oligo/results/8mer/oligo_2_1w_8mers_unique.csv'
f2 = '../oligo/results/10mer/oligo_2_1w_10mers_unique.csv'
f3 = '../oligo/results/12mer/oligo_2_1w_12mers_unique.csv'
f4 = '../oligo/results/10mer/streptavidin_7w_10mers_unique.csv'

In [52]:
df1 = pd.read_csv(f1)
print(df1['count'].quantile(0.05))
print(df1['count'].quantile(0.10))

98.0
122.5

In [53]:
df2 = pd.read_csv(f2)
print(df2['count'].quantile(0.05))
print(df2['count'].quantile(0.10))

3.0
4.0

In [54]:
df3 = pd.read_csv(f3)
print(df2['count'].quantile(0.05))
print(df2['count'].quantile(0.10))

3.0
4.0

In [65]:
df4 = pd.read_csv(f4)
print(df2['count'].quantile(0.04))
print(df2['count'].quantile(0.10))

3.0
4.0

In [62]:
test = df1[df1['count'] <= df1['count'].quantile(0.05)].reset_index(drop=True)
library_file = f'../oligo/data/bait_kmers/library_5mers.csv'
lib_set = get_library_set(library_file)
truth_file = f'../oligo/data/bait_kmers/oligo_1_comp_5mers.csv'
truth_set = get_truth_set(truth_file)
test_labels = label_exp(test, truth_set, lib_set, 'test')
test_labels.groupby('label').size()

label
off target    3388
dtype: int64

In [63]:
test = df2[df2['count'] <= df2['count'].quantile(0.05)].reset_index(drop=True)
library_file = f'../oligo/data/bait_kmers/library_10mers.csv'
lib_set = get_library_set(library_file)
truth_file = f'../oligo/data/bait_kmers/oligo_1_comp_10mers.csv'
truth_set = get_truth_set(truth_file)
test_labels = label_exp(test, truth_set, lib_set, 'test')
test_labels.groupby('label').size()

label
off target    72523
dtype: int64

In [29]:
test_labels[test_labels.label == "oligo match"]

          node1      node2  count        label   exp
3056  TGGATGGAG  GGATGGAGT      9  oligo match  test

In [66]:
infile = '../oligo/results/10mer/oligo_1_0w_10mers_unique.csv'
cut = 0.03
outfile = '../oligo/results/10mer/q3cut/oligo_1_0w_10mers_q03.csv'

In [ ]:
def read_data(infile, sep=','):
    print(f'Reading in {infile} ...')
    df = pd.read_csv(infile, sep=sep)
    print(f'Number of unique k-mers = {len(df)}')
    return(df)

def calc_quartiles(df):
    print(f'Calculating quartiles ...')
    Q1 = df['count'].quantile(0.25)
    Q2 = df['count'].quantile(0.75)
    IQR = Q3-Q1
    print(f'Q1={Q1}\tQ3={Q3}\tIQR={IQR}')

def calc_cutoff(df, cut):
    print(f'Calculating quantile cutoff for q={cut} ...')
    q = df['count'].quantile(cut)
    df_cut = df[df['count'] >= q]
    n_removed = len(df) - len(df_cut)
    print(f'Count={q} for q={cut} ({n_removed) rows removed) ...')
    print(f'Final table:')
    print(df_cut)
    return(df_cut)

In [ ]:
def main()
    df = read_data(args.infile, args.sep)
    calc_quartiles(df)
    df_out = calc_cutoff(df, args.cut)
    print(f'Writing to {args.outfile} ...')
    df_out.to_csv(args.outfile)