In [1]:
import pandas as pd

In [2]:
test_file = '../oligo/results/10mer/oligo_1_3w_10mers_unique.csv'

In [31]:
df = pd.read_csv(test_file)
df = df.dropna()
df.reset_index(inplace=True, drop=True)

In [32]:
df

             node1      node2    count
0        AAACAAAAA  AAAACAAAA  9869385
1        AGCTGAGAG  TAGCTGAGA  4996752
2        GATAGCTGA  ATAGCTGAG  4996590
3        GCGATAGCT  CGATAGCTG  4993135
4        GATAGCTGA  CGATAGCTG  4989826
...            ...        ...      ...
1048110  CGCGAAGAA  GCGAAGAAC        1
1048111  GGTGCGACC  CGGTGCGAC        1
1048112  GTCCGAGTC  CGTCCGAGT        1
1048113  ACCGAGCGT  CCGAGCGTC        1
1048114  TCAGGCGTC  CAGGCGTCT        1

[1048115 rows x 3 columns]

In [5]:
test1 = 'AGCTGAGAG'
test2 = 'TAGCTGAGA'

In [11]:
test1[1:] == test2[:-1]

False

In [12]:
test1[:-1] == test2[1:]

True

In [5]:
redirected = []
for i in range(len(df)):
    node1 = df.iloc[i, 0]
    node2 = df.iloc[i, 1]
    if node1[:-1] == node2[1:]:
        node1 = df.iloc[i, 1]
        node2 = df.iloc[i, 0]
    redirected.append([node1, node2])

In [6]:
len(redirected)

1048115

In [33]:
redirected_df = pd.DataFrame(redirected, columns=['node1','node2'])
redirected_df.reset_index(inplace=True, drop=True)

In [34]:
redirected_df['count'] = df['count']

In [35]:
redirected_df['count'] = redirected_df['count'].astype(int)

In [12]:
redirected_df

             node1      node2      count
0        AAAACAAAA  AAACAAAAA  9869385.0
1        TAGCTGAGA  AGCTGAGAG  4996752.0
2        GATAGCTGA  ATAGCTGAG  4996590.0
3        GCGATAGCT  CGATAGCTG  4993135.0
4        CGATAGCTG  GATAGCTGA  4989826.0
...            ...        ...        ...
1048110  CGCGAAGAA  GCGAAGAAC        1.0
1048111  CGGTGCGAC  GGTGCGACC        1.0
1048112  CGTCCGAGT  GTCCGAGTC        1.0
1048113  ACCGAGCGT  CCGAGCGTC        1.0
1048114  TCAGGCGTC  CAGGCGTCT        1.0

[1048115 rows x 3 columns]

In [29]:
redirected_df[redirected_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [index, node1, node2, count]
Index: []

In [36]:
redirected_df[redirected_df['node1']=='CATTCGCGA']

            node1      node2  count
2774    CATTCGCGA  ATTCGCGAA   3702
635318  CATTCGCGA  ATTCGCGAG     22
739073  CATTCGCGA  ATTCGCGAT     18
743936  CATTCGCGA  ATTCGCGAC     17

In [46]:
test = redirected_df[redirected_df['count'] >= 100]

In [48]:
q = test['count'].quantile(0.99)
q

7991.689999999595

In [38]:
redirected_df.to_csv('../oligo/results/10mer/oligo_1_3w_10mers_unique_directed.csv', index=False)